/* by Zzzyt from Hell Hole Studios */

:root {
    --maz-sans: "Noto Sans SC", "Noto Sans", "Roboto", sans-serif;
    --maz-mono: "Consolas", "Ubuntu Mono", "Lucida Console", monospace;
    --maz-bg: #080800;
    --maz-bg-gray: #999;
    --maz-code-bg: #23241f;
    --maz-text: #ddd;
    --maz-text-gray: #999;
    --maz-text-dark: #666;
}

body {
    background: var(--maz-bg);
}

#container {
    min-height: calc(100% - 150px);
    min-width: 400px;
    max-width: 1500px;
    width: calc(100% - 100px);
    border-radius: 10px;
    padding: 15px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background: var(--maz-bg);
}

p,
th,
td,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--maz-text);
    font-family: var(--maz-sans);
}

pre {
    color: var(--maz-text) !important;
    font-family: var(--maz-mono);
}

code,
kbd,
samp {
    color: #e83e8c;
    font-family: var(--maz-mono);
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
    border-color: #ddd;
}

a[class~="btn"],
input[type~="button"],
input[type~="submit"],
button {
    margin: 5px;
    font-family: var(--maz-sans);
}

div[class~="input-group"] {
    margin: 5px;
}

.nostyle,
.nostyle:hover,
.nostyle:visited,
.notstyle:active {
    color: inherit;
    text-decoration: none;
}

table {
    background: transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

pre {
    margin-top: 8px;
    margin-bottom: 8px;
}

pre > code {
    padding: 0 !important;
}

code,
kbd,
pre,
samp {
    padding: 3px 6px !important;
    border-radius: 3px;
    background-color: var(--maz-code-bg);
}

code:empty,
kbd:empty,
pre:empty,
samp:empty {
    border-radius: 0;
    visibility: hidden;
}

.hljs {
    border-radius: 3px;
}

/* Sorry Bootstrap, but flexs are just too hard to handle */

.card {
    display: block;
}

/* Index Page */

.index-card {
    border-color: var(--maz-text);
    background: transparent;
    border: none;
    margin: 8px;
}

.index-card .card-body {
    padding: 8px;
}

.index-card .card-header:first-child {
    border-color: var(--maz-text);
}

/* Markdown:Anchor style */
/* from excing, slightly modified by Zzzyt */

.octicon {
    color: var(--maz-text);
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
    visibility: hidden;
}

h1:hover .octicon,
h2:hover .octicon,
h3:hover .octicon,
h4:hover .octicon,
h5:hover .octicon,
h6:hover .octicon {
    visibility: visible;
}

.anchor {
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}

.anchor:focus .octicon {
    visibility: visible;
}

/* Markdown:Catalog style */
/* from excing, slightly modified by Zzzyt */

.cat ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.cat ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
}

.cat li {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.title-right {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    float: right;
    text-align: right;
}

p[class~="title-right"],
span[class~="title-right"] {
    color: var(--maz-text-gray);
}

.title-left {
    font-weight: bold;
    display: inline;
}

.title {
    margin: 10px 20px;
    float: left;
}

.subtitle {
    margin: 10px 20px;
    float: left;
    clear: both;
}

#sidebar {
    display: none;
}

#sidebar:empty {
    display: none;
}

#toc_catalog {
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
}

#content {
    flex: auto;
}

@media (min-width: 1200px) {
    #sidebar {
        display: block;
        min-width: 300px;
        max-width: 20%;
        margin-right: 30px;
    }
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    font-weight: bold;
}

#content ul {
    list-style: none;
}

#content ul li::before {
    content: "\2022";
    color: var(--maz-text);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -2.5em;
}

#content img {
    max-width: 100%;
}

.img-caption {
    padding: 0.5em;
    text-align: center;
    font-style: italic;
    color: var(--maz-text-gray);
}

/* topbar */

.topbar-item a {
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.topbar-item {
    transition: 0.2s;
}

.topbar-item a {
    color: var(--maz-text);
}

.topbar-item a:hover {
    color: var(--maz-text);
}

.topbar-item:hover {
    background: var(--maz-text-dark);
}

.navbar-brand {
    padding: 0;
    transition: 0.2s;
    margin: 0;
}

.navbar-brand:hover {
    background: var(--maz-text-dark);
}

.navbar-brand img {
    width: 50px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 768px) {
    .topbar-nav {
        height: 50px;
    }
}

.dropdown-menu {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    background: var(--maz-bg);
}

.dropdown-item {
    transition: 0.2s;
}

.dropdown-item:hover {
    background: var(--maz-text-dark);
}

.ml-auto {
    margin-left: 0 !important;
}

.mr-auto {
    margin-right: 0 !important;
    float: right !important;
    margin-left: auto !important;
}

.topbar {
    font-family: var(--maz-mono);
    background: var(--maz-bg);
    padding: 0;
}

.topbar-nav {
    padding-top: 0;
    padding-bottom: 0;
}

.card-collapse {
    margin-bottom: 10px;
}

.status-table {
    align-self: center;
    margin: 0 auto;
    min-width: 500px;
}

.center-form {
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
}

/* Copy button */

.copy-btn-wrapper {
    margin: 0;
    position: relative;
}

.copy-btn {
    color: var(--maz-bg-gray);
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 10;
    display: block;
    font-size: 12px;
    cursor: pointer;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.copy-btn:hover {
    color: var(--maz-text);
    background-color: var(--maz-bg-gray);
}

/* I/O Format */

@media (min-width: 768px) {
    .sample-in {
        width: 48%;
        float: left;
    }

    .sample-out {
        width: 48%;
        float: right;
    }

    .sample-in-wrapper {
        width: 48%;
        float: left;
    }

    .sample-in-wrapper .copy-btn {
        top: 8px;
    }

    .sample-out-wrapper {
        width: 48%;
        float: right;
    }

    .sample-out-wrapper .copy-btn {
        top: 8px;
    }
}

@media (min-width: 576px) {
    .sm-float-right {
        float: right;
    }
}
